<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Edit Post</title>
  </head>

  <body>
    <h1 class="red-text text-lighten-2">Edit Post</h1>
    <div class="row">
      <form class="col m7" action="/edit_processing/{{card_to_update.id}}" method='POST'>
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            <input name='title' id="title" type="text" class="validate" value={{card_to_update.title}}>
            <label for="title">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name='image_url' id="image" type="text" class="validate" 
            {% if not card_to_update.image == "Null" %}
              value="{{card_to_update.image}}"
            {% endif %}
            >
            <label for="image">Image URL</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name='link' id="link" type="text" class="validate" 
            {% if not card_to_update.link == "Null" %}
              value="{{card_to_update.link}}"
            {% endif %}
            >
            <label for="link">Link</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea name='content' id="content" class="materialize-textarea">{{card_to_update.content}}</textarea>
            <label for="content">Content</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Update
          <i class="material-icons right">send</i>
        </button>
        <a class="btn waves-effect waves-light right" href="/dashboard">Go Back
          <i class="material-icons right">send</i>
        </a>
      </form>
    </div>

    <!--JavaScript at end of body for optimized loading-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>